<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>校园二货</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/css/file.css" >

</head>
<body>
    <div class="nav_head">
        {%if request.session.username|default:'' != ''%}
            <P>欢迎您，{{ request.session.username }}</P>
            <button class="btn btn-default"><a href="/user/logout" >退出</a></button>
        {%else%}
        <a class="btn btn-link"  href="/user/login" >登陆</a>
        <a class="btn btn-link"  href="/user/register" >注册</a>
        {%endif%}
        <div class="nav dropdown">
            <a class="btn btn-link" href="/user/user_center">| 用户中心</a>
        </div>
        <div class="nav">
            <a class="btn btn-link"  href="/" >首页</a>
        </div>
    </div>
    <div class="title">
        <img src="/static/img/title.png">
        <div class="second_title">
            <div class="find">
                <input type="text" class="form-control" id="search" >
                <a type="button" class="btn btn-warning" id="search-button" href="javascript:void(0);" onclick="go_search()">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <button type="button" class="btn btn-warning"><a href="/release_goods">发布闲置</a></button>
            </div>
        </div>      
    </div>
    <!-- 返回最上开始 -->
    <div class="back_to_top">
        <a href="#"><img src="/static/img/index-回到最上.png"></a>
    </div>
    <!-- 返回最上结束 -->
        
    <div class="main_content">
        <div class="second_content_left nav-1" id="f1">
            <img src="/static/img/书籍.png">
            <a href="#">闲置书籍</a>
            <!-- <a class="btn btn-link more_goods"  href="#" >更多</a>    -->

            <div class="third_content">

                {% for book in books_list %}
                <div class="goods">
                    <img src="/static/{{ book.picture }}" >
                </div>
                <div class="describe">
                    <img src="/static/img/商品1/箭头.png" >
                    <a href="/goods_details/?title={{ book.title }}">{{ book.title }}</a>
                    <img src="/static/img/商品1/金钱2.png" class="rmb">
                    <span>{{ book.price }}</span>
                    <p>
                        {{ book.description }}
                    </p>
                </div>
                {% endfor %}

            </div>
        </div>
                           
    </div>
    <!-- foot -->
    <div class="foot">
        <img src="/static/img/title2.png">
        <p>来校园二货，你的闲置能换钱！</p>
        <span>全国最大最活跃的校园闲置物品交换平台</span>
      
    </div>
    <address>
        Written by <a href="#">skylerswy</a>.<br> 
            Visit us at:<br>
            jxsf University<br>
            tel：18××××××××69
    </address>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/file.js"></script>
</body>
</html>