/* --------------------------list_body-----------------------*/
.list_body p:first-child {
    font-family: "Microsoft Yahei";
    font-size: 24px;
    color: #504A4D;
    font-weight: 800;
    margin-top: 20px;
}

.list_body img {
    margin-left: 20px;
    float: left;
    margin-right: 110px;
}

.list_body button {
    position: relative;
    top: 65px;
    left: -300px;
}

.list_body p {
    font-family: "Microsoft Yahei";
    font-size: 16px;
    color: #504A4D;
    font-weight: 550;
    margin-top: 20px;
}


